<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback index</title>
    <!--  这里有个问题  -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!--  这个才行  -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar">
    <a href="/post" class="navbar-brand">Publish Message</a>
    <h1>Message Board</h1>
</nav>

<div class="container">
    <div>
        <ul>
            {{each comments}}
            <li>{{$value.name}} : {{$value.message}} {{ $value.dateTime }}</li>
            {{/each}}
        </ul>
    </div>
</div>
</body>
</html>