<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
<!--  这里有个问题  -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
<!--  这个才行  -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar">
    <a href="/" class="navbar-brand">Message Board</a>
    <h1>Publish Message</h1>
</nav>

<div class="container">
    <form action="/comment" method="get">
        <div class="form-group">
            <label for="userName">Name:</label>
            <input class="form-control" type="text" name="name" id="userName" required placeholder="请输入您的姓名">
        </div>

        <div class="form-group">
            <label for="userMessage">Message:</label>
            <textarea class="form-control" rows="5" name="message" id="UserMessage" placeholder="请输入您想说的话"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
</body>
</html>